
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 11rem;
}.skillset-variant2-hJ8 {
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  line-height: 1.2125;
  color: #b9555b;
  background-color: #eb1313;
  width: 100%;
  height: 2.9rem;
  font-size: 2.4rem;
  font-weight: 400;
}
